{% extends "base.html" %}
{% block title %}Prisijungti{% endblock %}
{% block content %}
    <h1>Prisijunkite</h1>
    {% if form.errors %}
        <p>
            Vartotojo vardas ir slaptažodis nesutampa.
        </p>
    {% else %}
        <p> Prašau pasinaudokite prisijungimo forma:</p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Prisijungti"></p>
        </form>
        <p><a href="{% url "password_reset" %}">PAmiršai slaptažodį?</a></
        p>
    </div>
{% endblock %}