{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ room.title }}{% else %}Rooms{% endif %}
{% endblock %}

{% block content %}
    <div class="room-detail">
    <img src="{% if room.first_image %}{{ room.first_image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}">
    <h1>{{ room.title }}</h1>
    <h2>
      <a href="{{ room.category.get_absolute_url }}">
        {{ room.category }}
      </a>
    </h2>
    <p class="price">${{ room.price }}</p>
    <form action="{% url "booking:reservation_create" room.id %}" method="post">
     {{ reservation_days }}
      {% csrf_token %}
      <input type="submit" value="Add to cart">
    </form>
    {{ room.description|linebreaks }}
     {% for property in prop %}
               <ul>  {{ property}} </ul>
        {% endfor %}

    <div class="container">
    <div class="row">
        <form method="post" ">
            {{ auction_form.csrf_token }}

            <div class="input-field col s12 m8" ">
                <i class="material-icons prefix"></i>
                {{ auction_form.end_day }}

            </div>

            <div class="input-field col s12 m8">
                <button type="submit" class="btn waves-effect waves-light">Create</button>
            </div>
        </form>
    </div>
</div>

 <script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.datepicker').datepicker({format: 'yyyy-mm-dd'});

    });
</script>


{% endblock %}

