{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static "css/base.css" %}" rel="stylesheet">

</head>
<body>
<div id="header">

    <span class="logo">NUOMA51</span>
    <ul class="menu">


        <li {% if section == "Rooms" %}class="selected"{% endif %}>
            <a href="{% url 'rooms:room_list' %} ">Room List</a>
        </li>

        <li {% if section == "About" %}class="selected"{% endif %}>
            <a href="#">Apie mus</a>
        </li>

        {% if request.user.is_authenticated %}

            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url 'dashboard' %}"> Tavo užsakymai</a>
            </li>

            </ul>


        {% endif %}

          <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.first_name }},
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url "login" %}">Log-in</a>
                {% endif %}
          </span>

</div>

<div id="content">
        {% block content %}
        {% endblock %}
</div>
<div>
    bootoom
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

</html>


