{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
 <!--Let browser know website is optimized for mobile-->
<!--{#      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>#}-->

{#    <link href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.css' %}" rel="stylesheet">#}
<!--    <link href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}" rel="stylesheet">-->

{#<!--     <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>-->#}
<!--{#   <script src="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>#}-->

     <link  href="{% static 'hotel-datepicker-4.0.0/dist/css/hotel-datepicker.css' %} " rel="stylesheet">
    {% block header %}

    {% endblock %}
    <script src="{% static 'fecha-4.2.1\dist\fecha.min.js' %}"></script>
    <script src="{% static 'hotel-datepicker-4.0.0/dist/js/hotel-datepicker.min.js' %}"></script>



      <style>
        .markholiday .ui-state-default
        {
            background-color:red;
            color: darkblue;
        }
    </style>
</head>
<body>
<div id="header">

    <span class="logo">NUOMA51</span>
    <ul class="menu">

        <li {% if section == "Rooms" %}class="selected"{% endif %}>
            <a href="{% url 'rooms:room_list' %} ">Room List</a>
        </li>

        <li class="selected">
            <a href="{% url 'booking:my_calender' %}"> calender mus</a>
        </li>

        {% if request.user.is_authenticated %}
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url 'dashboard' %}"> Tavo užsakymai</a>
            </li>

        {% endif %}

          <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.first_name }},
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
{#                     <a href="{% url 'custom_login' %}?next={{request.path}}">Login</a>#}
                    <a href="{% url "login" %}">Log-in</a>
                {% endif %}
          </span>
    </ul>
</div>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
               <li class="{{ message.tags }}">
                       {{ message|safe }}
                   <a href="#" class="close">x</a>
               </li>
        {% endfor %}
        </ul>
    {% endif %}
<div>
        {% block content %}
        {% endblock %}

</div>

<!--<script src="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>-->

</body>
</html>


